{
    'version': 1,
    'disable_existing_loggers': False,  # Keeps existing loggers active
    'formatters': {
        'default': {
            'format': '[%(asctime)s] - %(levelname)s in %(name)s: %(message)s',
            'datefmt': '%Y-%m-%d %H:%M:%S',
        },
    },
    'handlers': {
        'wsgi': {
            'class': 'logging.StreamHandler',
            'stream': 'ext://flask.logging.wsgi_errors_stream',
            'formatter': 'default',
        },
    },
    'root': {
        'level': 'WARNING',  # Default root level
        'handlers': ['wsgi'],
    },
    'loggers': {
        'mqtt_client': {
            'level': 'DEBUG',
            'handlers': ['wsgi'],
            'propagate': False,
        },
        'web_server': {
            'level': 'DEBUG',
            'handlers': ['wsgi'],
            'propagate': False,
        },
        'example.pi_bme280': {
            'level': 'ERROR',
            'handlers': ['wsgi'],
            'propagate': False,
        },
        'paho.mqtt.client': {
            'level': 'ERROR',
            'handlers': ['wsgi'],
            'propagate': False,
        },
        'flask.app': {
            'level': 'ERROR',
            'handlers': ['wsgi'],
            'propagate': False,
        },
        'werkzeug': {
            'level': 'ERROR',
            'handlers': ['wsgi'],
            'propagate': False,
        },
    },
}
