<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>MQTT Slide Switch</title>
  <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
  <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}"/>
</head>
<body>
  {% with messages = get_flashed_messages() %}
    {% if messages %}
      <ul class="flashes">
        {% for message in messages %}
          <li>{{ message }}</li>
        {% endfor %}
      </ul>
    {% endif %}
  {% endwith %}
  <h1>Maintenance Interface</h1>
  <h2>{{ title }}</h2>
  <h3>{{ subtitle }}</h3>
  <h4>{{ state.disconnected }}</h4>
  <h4>{{ state.Disconnected }}</h4>

  <div class="error-msg">
    <span id="error-msg">&nbsp;</span>
  </div>

  <div class="lozenge-group">
    <div class="lozenge disconnected" id="mqtt-toggle">
      <span >MQTT Connection State:</span>
      <span id="mqtt-status">Not Connected</span>
      <span id="mqtt-description">Click to connect</span>
    </div>
  
    <div class="lozenge undiscovered disabled" id="discovery-toggle">
      <span>Discovery State:</span>
      <span id="discovery-status">Not Discovered</span>
      <span id="discovery-description">You must Connect before Discovery</span>
    </div>
  </div>
</body>
</html>

